In [188]:
import pandas as pd
df=pd.read_csv("Olympics.csv",skiprows=1,header=0)

In [189]:
df.head()

,Unnamed: 0,? Summer,01 !,02 !,03 !,Total,? Winter,01 !.1,02 !.1,03 !.1,Total.1,? Games,01 !.2,02 !.2,03 !.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

#renaming the columns

In [190]:
df.columns

Index(['Unnamed: 0', '? Summer', '01 !', '02 !', '03 !', 'Total', '? Winter',
       '01 !.1', '02 !.1', '03 !.1', 'Total.1', '? Games', '01 !.2', '02 !.2',
       '03 !.2', 'Combined total'],
      dtype='object')

In [191]:
column_name ={'Unnamed: 0': 'Country',
              '? Summer': 'Summer Olympics',
              '01 !': 'Gold',
              '02 !': 'Silver',
              '03 !': 'Bronze',
              '? Winter': 'Winter Olympics',
              '01 !.1': 'Gold.1',
              '02 !.1': 'Silver.1',
              '03 !.1': 'Bronze.1',
              '? Games': '# Games', 
              '01 !.2': 'Gold.2',
              '02 !.2': 'Silver.2',
              '03 !.2': 'Bronze.2'}
df.rename(columns=column_name,inplace=True)

In [192]:
df.head()

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12

In [193]:
#lets check data for missing values
df.isnull().sum()

Country            0
Summer Olympics    0
Gold               0
Silver             0
Bronze             0
Total              0
Winter Olympics    0
Gold.1             0
Silver.1           0
Bronze.1           0
Total.1            0
# Games            0
Gold.2             0
Silver.2           0
Bronze.2           0
Combined total     0
dtype: int64

In [194]:
df.dtypes

Country            object
Summer Olympics     int64
Gold                int64
Silver              int64
Bronze              int64
Total               int64
Winter Olympics     int64
Gold.1              int64
Silver.1            int64
Bronze.1            int64
Total.1             int64
# Games             int64
Gold.2              int64
Silver.2            int64
Bronze.2            int64
Combined total      int64
dtype: object

In [195]:
#Lets see which country won max gold in both summer and winter olympics
a=df["Gold"].max()
df[df["Gold"]==4809]

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [196]:
df[df["Gold"]>5] #teams who won more than 5 golds in summer olympics

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
5,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
6,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
7,Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
11,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
12,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
16,Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
18,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
21,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
23,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
27,Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
28,Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
30,Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
31,Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
32,Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
36,Egypt (EGY) [EGY] [Z],21,7,9,10,26,1,0,0,0,0,22,7,9,10,26
38,Estonia (EST),11,9,9,15,33,9,4,2,1,7,20,13,11,16,40
39,Ethiopia (ETH),12,21,7,17,45,2,0,0,0,0,14,21,7,17,45
40,Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
41,France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
43,Georgia (GEO),5,6,5,14,25,6,0,0,0,0,11,6,5,14,25
44,Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
45,United Team of Germany (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
46,East Germany (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
47,West Germany (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
49,Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
50,Greece (GRE) [Z],27,30,42,39,111,18,0,0,0,0,45,30,42,39,111
56,Hungary (HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
58,India (IND) [F],23,9,6,11,26,9,0,0,0,0,32,9,6,11,26
59,Indonesia (INA),14,6,10,11,27,0,0,0,0,0,14,6,10,11,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64,Italy (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
65,Jamaica (JAM) [JAM],16,17,30,20,67,7,0,0,0,0,23,17,30,20,67
66,Japan (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
67,Kazakhstan (KAZ),5,16,17,19,52,6,1,3,3,7,11,17,20,22,59
68,Kenya (KEN),13,25,32,29,86,3,0,0,0,0,16,25,32,29,86
69,North Korea (PRK),9,14,12,21,47,8,0,1,1,2,17,14,13,22,49
70,South Korea (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
76,Lithuania (LTU),8,6,5,10,21,8,0,0,0,0,16,6,5,10,21
81,Mexico (MEX),22,13,21,28,62,8,0,0,0,0,30,13,21,28,62
85,Morocco (MAR),13,6,5,11,22,6,0,0,0,0,19,6,5,11,22
88,Netherlands (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
90,New Zealand (NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
93,Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
99,Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
103,Romania (ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
104,Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
106,Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
107,Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
113,Slovakia (SVK) [SVK],5,7,9,8,24,6,2,2,1,5,11,9,11,9,29
115,South Africa (RSA),18,23,26,27,76,6,0,0,0,0,24,23,26,27,76
116,Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
120,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
121,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
126,Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
131,Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
133,Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
141,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [197]:
df[df["Gold.1"]>5] #team who have won more than 5 golds in winter olympics

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
6,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
11,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
21,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
23,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
30,Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
40,Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
41,France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
44,Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
45,United Team of Germany (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
46,East Germany (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
47,West Germany (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
49,Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
64,Italy (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
66,Japan (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
70,South Korea (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
88,Netherlands (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
93,Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
99,Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
104,Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
106,Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
107,Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
120,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
121,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [198]:
#team who have won more than 5 golds in both summer and winter olympics
df[(df["Gold"]>5) & (df["Gold.1"]>5)] # two conditions on dataframe

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
6,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
11,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
21,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
23,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
30,Czech Republic (CZE) [CZE],5,14,15,15,44,6,7,9,8,24,11,21,24,23,68
40,Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
41,France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
44,Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
45,United Team of Germany (EUA) [EUA],3,28,54,36,118,3,8,6,5,19,6,36,60,41,137
46,East Germany (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
47,West Germany (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
49,Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
64,Italy (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
66,Japan (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
70,South Korea (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
88,Netherlands (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
93,Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
99,Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
104,Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
106,Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
107,Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
120,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
121,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [199]:
#country with no gold in any olympics
df1=df[(df["Gold"]==0) & (df["Gold.1"]== 0)] #dataframe with above criteria
df1.Country.tolist()[0] # first country with no gold

'Afghanistan (AFG)'

In [200]:
#Country with gold medal in any olympics
df2=df[(df["Gold"]>=0) | (df["Gold.1"]>= 0)] 
df2

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
5,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
6,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
7,Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
8,Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
9,Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
10,Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
11,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
12,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
13,Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
14,Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
15,Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
16,Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
17,British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
18,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
19,Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
20,Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
21,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
22,Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
23,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
24,Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
25,Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
26,Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
27,Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
28,Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
29,Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
118,Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
119,Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
120,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
121,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
122,Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
123,Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
124,Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
125,Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
126,Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
127,Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
128,Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
129,Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
130,Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
131,Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
132,Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
133,Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
134,United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
136,Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
137,Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
138,Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
139,Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
140,Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
141,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17
146,Totals,27,4809,4775,5130,14714,22,959,958,948,2865,49,5768,5733,6078,17579

In [201]:
#The team with Maximum gold medals
# we have to drop last row which have total
df.drop(index=146,inplace=True) #droping using index
a=df["Gold"].max()
df[df["Gold"]==a] #maximum gold

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681

In [206]:
df.iloc[135].tolist()[0] # country name with maximum gold

'United States (USA) [P] [Q] [R] [Z]'

In [218]:
b= df["Gold.1"].max()
l=df[df["Gold.1"]==b]
l.Country.tolist()[0]#country name Norway

'Norway (NOR) [Q]'

In [222]:
#find a team with No medals ever
df[(df["Total"]==0) &(df["Total.1"]==0)] #there is no such team

Empty DataFrame
Columns: [Country, Summer Olympics, Gold, Silver, Bronze, Total, Winter Olympics, Gold.1, Silver.1, Bronze.1, Total.1, # Games, Gold.2, Silver.2, Bronze.2, Combined total]
Index: []

In [225]:
df.sort_values(by="Gold",ascending=False)

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
106,Soviet Union (URS) [URS],9,395,319,296,1010,9,78,57,59,194,18,473,376,355,1204
49,Great Britain (GBR) [GBR] [Z],27,236,272,272,780,22,10,4,12,26,49,246,276,284,806
41,France (FRA) [O] [P] [Z],27,202,223,246,671,22,31,31,47,109,49,233,254,293,780
23,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
64,Italy (ITA) [M] [S],26,198,166,185,549,22,37,34,43,114,48,235,200,228,663
44,Germany (GER) [GER] [Z],15,174,182,217,573,11,78,78,53,209,26,252,260,270,782
56,Hungary (HUN),25,167,144,165,476,22,0,2,4,6,47,167,146,169,482
46,East Germany (GDR) [GDR],5,153,129,127,409,6,39,36,35,110,11,192,165,162,519
120,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
5,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
104,Russia (RUS) [RUS],5,132,121,142,395,6,49,40,35,124,11,181,161,177,519
66,Japan (JPN),21,130,126,142,398,20,10,17,18,45,41,140,143,160,443
40,Finland (FIN),24,101,84,117,302,22,42,62,57,161,46,143,146,174,463
103,Romania (ROU),20,88,94,119,301,20,0,0,1,1,40,88,94,120,302
70,South Korea (KOR),16,81,82,80,243,17,26,17,10,53,33,107,99,90,296
88,Netherlands (NED) [Z],25,77,85,104,266,20,37,38,35,110,45,114,123,139,376
28,Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
99,Poland (POL),20,64,82,125,271,22,6,7,7,20,42,70,89,132,291
21,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
47,West Germany (FRG) [FRG],5,56,67,81,204,6,11,15,13,39,11,67,82,94,243
93,Norway (NOR) [Q],24,56,49,43,148,22,118,111,100,329,46,174,160,143,477
18,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
31,Czechoslovakia (TCH) [TCH],16,49,49,45,143,16,2,8,15,25,32,51,57,60,168
121,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
107,Unified Team (EUN) [EUN],1,45,38,29,112,1,9,6,8,23,2,54,44,37,135
32,Denmark (DEN) [Z],26,43,68,68,179,13,0,1,0,1,39,43,69,68,180
90,New Zealand (NZL) [NZL],22,42,18,39,99,15,0,1,0,1,37,42,19,39,100
131,Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
116,Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,Saudi Arabia (KSA),10,0,1,2,3,0,0,0,0,0,10,0,1,2,3
26,Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
53,Guyana (GUY) [GUY],16,0,0,1,1,0,0,0,0,0,16,0,0,1,1
74,Lebanon (LIB),16,0,2,2,4,16,0,0,0,0,32,0,2,2,4
75,Liechtenstein (LIE),16,0,0,0,0,18,2,2,5,9,34,2,2,5,9
61,Iraq (IRQ),13,0,0,1,1,0,0,0,0,0,13,0,0,1,1
78,Macedonia (MKD),5,0,0,1,1,5,0,0,0,0,10,0,0,1,1
79,Malaysia (MAS) [MAS],12,0,3,3,6,0,0,0,0,0,12,0,3,3,6
80,Mauritius (MRI),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
57,Iceland (ISL),19,0,2,2,4,17,0,0,0,0,36,0,2,2,4
82,Moldova (MDA),5,0,2,5,7,6,0,0,0,0,11,0,2,5,7
84,Montenegro (MNE),2,0,1,0,1,2,0,0,0,0,4,0,1,0,1
87,Namibia (NAM),6,0,4,0,4,0,0,0,0,0,6,0,4,0,4
54,Haiti (HAI) [J],14,0,1,1,2,0,0,0,0,0,14,0,1,1,2
89,Netherlands Antilles (AHO) [AHO] [I],13,0,1,0,1,2,0,0,0,0,15,0,1,0,1
91,Niger (NIG),11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
112,Singapore (SIN),15,0,2,2,4,0,0,0,0,0,15,0,2,2,4
52,Guatemala (GUA),13,0,1,0,1,1,0,0,0,0,14,0,1,0,1
48,Ghana (GHA) [GHA],13,0,1,3,4,1,0,0,0,0,14,0,1,3,4
96,Paraguay (PAR),11,0,1,0,1,1,0,0,0,0,12,0,1,0,1
98,Philippines (PHI),20,0,2,7,9,4,0,0,0,0,24,0,2,7,9
42,Gabon (GAB),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
37,Eritrea (ERI),4,0,0,1,1,0,0,0,0,0,4,0,0,1,1
101,Puerto Rico (PUR),17,0,2,6,8,6,0,0,0,0,23,0,2,6,8
102,Qatar (QAT),8,0,0,4,4,0,0,0,0,0,8,0,0,4,4
33,Djibouti (DJI) [B],7,0,0,1,1,0,0,0,0,0,7,0,0,1,1
29,Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
72,Kyrgyzstan (KGZ),5,0,1,2,3,6,0,0,0,0,11,0,1,2,3
109,Senegal (SEN),13,0,1,0,1,5,0,0,0,0,18,0,1,0,1
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2

In [227]:
#Lets see if India participated in Olympics
df[df["Country"]=="India"] #India did'nt participated in olympics

Empty DataFrame
Columns: [Country, Summer Olympics, Gold, Silver, Bronze, Total, Winter Olympics, Gold.1, Silver.1, Bronze.1, Total.1, # Games, Gold.2, Silver.2, Bronze.2, Combined total]
Index: []

In [228]:
df

,Country,Summer Olympics,Gold,Silver,Bronze,Total,Winter Olympics,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total
0,Afghanistan (AFG),13,0,0,2,2,0,0,0,0,0,13,0,0,2,2
1,Algeria (ALG),12,5,2,8,15,3,0,0,0,0,15,5,2,8,15
2,Argentina (ARG),23,18,24,28,70,18,0,0,0,0,41,18,24,28,70
3,Armenia (ARM),5,1,2,9,12,6,0,0,0,0,11,1,2,9,12
4,Australasia (ANZ) [ANZ],2,3,4,5,12,0,0,0,0,0,2,3,4,5,12
5,Australia (AUS) [AUS] [Z],25,139,152,177,468,18,5,3,4,12,43,144,155,181,480
6,Austria (AUT),26,18,33,35,86,22,59,78,81,218,48,77,111,116,304
7,Azerbaijan (AZE),5,6,5,15,26,5,0,0,0,0,10,6,5,15,26
8,Bahamas (BAH),15,5,2,5,12,0,0,0,0,0,15,5,2,5,12
9,Bahrain (BRN),8,0,0,1,1,0,0,0,0,0,8,0,0,1,1
10,Barbados (BAR) [BAR],11,0,0,1,1,0,0,0,0,0,11,0,0,1,1
11,Belarus (BLR),5,12,24,39,75,6,6,4,5,15,11,18,28,44,90
12,Belgium (BEL),25,37,52,53,142,20,1,1,3,5,45,38,53,56,147
13,Bermuda (BER),17,0,0,1,1,7,0,0,0,0,24,0,0,1,1
14,Bohemia (BOH) [BOH] [Z],3,0,1,3,4,0,0,0,0,0,3,0,1,3,4
15,Botswana (BOT),9,0,1,0,1,0,0,0,0,0,9,0,1,0,1
16,Brazil (BRA),21,23,30,55,108,7,0,0,0,0,28,23,30,55,108
17,British West Indies (BWI) [BWI],1,0,0,2,2,0,0,0,0,0,1,0,0,2,2
18,Bulgaria (BUL) [H],19,51,85,78,214,19,1,2,3,6,38,52,87,81,220
19,Burundi (BDI),5,1,0,0,1,0,0,0,0,0,5,1,0,0,1
20,Cameroon (CMR),13,3,1,1,5,1,0,0,0,0,14,3,1,1,5
21,Canada (CAN),25,59,99,121,279,22,62,56,52,170,47,121,155,173,449
22,Chile (CHI) [I],22,2,7,4,13,16,0,0,0,0,38,2,7,4,13
23,China (CHN) [CHN],9,201,146,126,473,10,12,22,19,53,19,213,168,145,526
24,Colombia (COL),18,2,6,11,19,1,0,0,0,0,19,2,6,11,19
25,Costa Rica (CRC),14,1,1,2,4,6,0,0,0,0,20,1,1,2,4
26,Ivory Coast (CIV) [CIV],12,0,1,0,1,0,0,0,0,0,12,0,1,0,1
27,Croatia (CRO),6,6,7,10,23,7,4,6,1,11,13,10,13,11,34
28,Cuba (CUB) [Z],19,72,67,70,209,0,0,0,0,0,19,72,67,70,209
29,Cyprus (CYP),9,0,1,0,1,10,0,0,0,0,19,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,Spain (ESP) [Z],22,37,59,35,131,19,1,0,1,2,41,38,59,36,133
117,Sri Lanka (SRI) [SRI],16,0,2,0,2,0,0,0,0,0,16,0,2,0,2
118,Sudan (SUD),11,0,1,0,1,0,0,0,0,0,11,0,1,0,1
119,Suriname (SUR) [E],11,1,0,1,2,0,0,0,0,0,11,1,0,1,2
120,Sweden (SWE) [Z],26,143,164,176,483,22,50,40,54,144,48,193,204,230,627
121,Switzerland (SUI),27,47,73,65,185,22,50,40,48,138,49,97,113,113,323
122,Syria (SYR),12,1,1,1,3,0,0,0,0,0,12,1,1,1,3
123,Chinese Taipei (TPE) [TPE] [TPE2],13,2,7,12,21,11,0,0,0,0,24,2,7,12,21
124,Tajikistan (TJK),5,0,1,2,3,4,0,0,0,0,9,0,1,2,3
125,Tanzania (TAN) [TAN],12,0,2,0,2,0,0,0,0,0,12,0,2,0,2
126,Thailand (THA),15,7,6,11,24,3,0,0,0,0,18,7,6,11,24
127,Togo (TOG),9,0,0,1,1,1,0,0,0,0,10,0,0,1,1
128,Tonga (TGA),8,0,1,0,1,1,0,0,0,0,9,0,1,0,1
129,Trinidad and Tobago (TRI) [TRI],16,2,5,11,18,3,0,0,0,0,19,2,5,11,18
130,Tunisia (TUN),13,3,3,4,10,0,0,0,0,0,13,3,3,4,10
131,Turkey (TUR),21,39,25,24,88,16,0,0,0,0,37,39,25,24,88
132,Uganda (UGA),14,2,3,2,7,0,0,0,0,0,14,2,3,2,7
133,Ukraine (UKR),5,33,27,55,115,6,2,1,4,7,11,35,28,59,122
134,United Arab Emirates (UAE),8,1,0,0,1,0,0,0,0,0,8,1,0,0,1
135,United States (USA) [P] [Q] [R] [Z],26,976,757,666,2399,22,96,102,84,282,48,1072,859,750,2681
136,Uruguay (URU),20,2,2,6,10,1,0,0,0,0,21,2,2,6,10
137,Uzbekistan (UZB),5,5,5,10,20,6,1,0,0,1,11,6,5,10,21
138,Venezuela (VEN),17,2,2,8,12,4,0,0,0,0,21,2,2,8,12
139,Vietnam (VIE),14,0,2,0,2,0,0,0,0,0,14,0,2,0,2
140,Virgin Islands (ISV),11,0,1,0,1,7,0,0,0,0,18,0,1,0,1
141,Yugoslavia (YUG) [YUG],16,26,29,28,83,14,0,3,1,4,30,26,32,29,87
142,Independent Olympic Participants (IOP) [IOP],1,0,1,2,3,0,0,0,0,0,1,0,1,2,3
143,Zambia (ZAM) [ZAM],12,0,1,1,2,0,0,0,0,0,12,0,1,1,2
144,Zimbabwe (ZIM) [ZIM],12,3,4,1,8,1,0,0,0,0,13,3,4,1,8
145,Mixed team (ZZX) [ZZX],3,8,5,4,17,0,0,0,0,0,3,8,5,4,17